<!DOCTYPE html>
<html>
    <head>

        <title>Our HomePage</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    </head>
    <body style="background-color:black">

        <nav class="menu_bar" id="index_bar">
            <ul>
                <img id='ms_title' src='title_alpha.gif' width="350" height="50"/>
                <li id="userfilesignin"><a><form action="/signin" method="get"><button class="function_button" id="signin_button_1">Signin</button>

                </form></a></li>
                <li id="userfilelogin"><a><form action="/login" method="get">
                    <button class="function_button" id="login_button_1">Login</button>

                </form></a></li>

            </ul>
        </nav>



    </body>

    <style>
    body {
      background-image: url("/Neryph_splash.jpg");
      background-repeat:no-repeat;
      background-size:cover;
    }
    </style>

</html>
